<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
      
    <!--==================================-->
    <!-- Start CKAN Data Catalog Settings -->
    <!--==================================-->

    <!-- The CKAN repository to use. -->
    <add key="Repository" value="colorado.ckan.net"/>
      
    <!-- The theme to use.  Requires folders Content/Theme/<name> and Views/Theme/<name> for each part of the theme.
         To get started on creating a theme copy the Default folders.-->
    <add key="Theme" value="Default"/>
      
    <!-- The CKAN group that the catalog will be restricted to. -->
    <add key="Group" value="arvada"/>

    <!-- To hide any tags from appearing in popular tags add them here.  Split multiple tags with a comma. -->
    <add key="HiddenTags" value="arvada, colorado"/>

    <!-- If all of the packages in your group have a name prefix add it here so that the prefix is not 
         displayed on your filtered catalog. -->
    <add key="PackageTitlePrefix" value="City of Arvada: "/>

    <!-- Package RSS Feed -->
    <add key="PackageRSSFeedEnabled" value="true"/>
    <add key="PackageRSSFeedDays" value="14"/>
      
    <!-- The actions to take for each resource type.  The default action for a resource is "Download"
         but additional actions can be created if you want different actions available for each resource type. -->
    <add key="ResourceType.REST.Title" value="REST Data Service"/>
    <add key="ResourceType.REST.Actions" value="action=Details"/>

    <add key="ResourceType.APP.Title" value="Application"/>
    <add key="ResourceType.APP.Actions" value="action=Open"/>
      
    <add key="ResourceType.KML.Title" value="Keyhole markup language (Google Earth)"/>
    <add key="ResourceType.KML.Actions" value="action=Open with Google Earth|
                                               action=Open with Google Maps;url=http://maps.google.com/maps?q={url}|
                                               action=Open with Bing Maps;url=http://www.bing.com/maps/?mapurl={url}"/>
      
    <add key="ResourceType.PDF.Title" value="Adobe Portable Document Format"/>
    <add key="ResourceType.PDF.Actions" value="action=Open"/>

    <add key="ResourceType.SHP.Title" value="ESRI Shapefile"/>
    <add key="ResourceType.SHP.Actions" value="action=Download"/>
    
    <!--================================-->
    <!-- End CKAN Data Catalog Settings -->
    <!--================================-->
      
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
      
  </appSettings>

  <log4net>
    <!-- Logging settings -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Logs//app.log" />
        <appendToFile value="true" />
        <datePattern value="yyyyMMdd" />
        <rollingStyle value="Composite" />
        <maximumFileSize value="5MB" />
        <maxSizeRollBackups value="-1" />
        <filter type="log4net.Filter.LevelRangeFilter">
            <acceptOnMatch value="true" />
            <levelMin value="WARN" />
            <levelMax value="FATAL" />
        </filter>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-5p %-25d thr:%-5t %9rms %c{1},%M: %m%n" />
        </layout>
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
        <filter type="log4net.Filter.LevelRangeFilter">
            <acceptOnMatch value="true"/>
            <levelMin value="DEBUG"/>
            <levelMax value="FATAL"/>
        </filter>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level %c{1},%M: %message%newline" />
        </layout>
    </appender>

    <root>
        <level value="ALL" />
        <appender-ref ref="RollingLogFileAppender" />
        <appender-ref ref="TraceAppender" />
    </root>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
