<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <appSettings>

        <!--==================================-->
        <!-- 1) CKAN Data Catalog Settings    -->
        <!--==================================-->
       
        <!-- - - - - - - - - -->
        <!-- Offline settings  -->
        <!-- - - - - - - - -  -->

        <!-- Set to true to take the catalog offline. -->
        <add key="Offline.Enabled" value="false"/>

        <!-- The offline message to be displayed -->
        <add key="Offline.Title" value="Data Catalog Offline"/>
        <add key="Offline.Message" value="The data catalog is currently offline for scheduled maintenance.  Please check back later.  Thank you for your patience."/>

        <!-- - - - - - - - - - -->
        <!-- jQuery Settings  -->
        <!-- - - - - - - - - - -->
        <add key="jQuery.Source" value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"/>
        
        <!-- - - - - - - - - - - - -->
        <!-- Repository settings  -->
        <!-- - - - - - - - - - - - -->
        
        <!-- The CKAN repository to use. -->
        <add key="Repository.Host" value="colorado.ckan.net"/>

        <!-- The timeout to use for requests to the repository (in milliseconds) -->
        <add key="Repository.RequestTimeout" value="30000"/>
 
        <!-- - - - - - - - - - -->
        <!-- Catalog settings  -->
        <!-- - - - - - - - - - -->
        
        <!-- The theme to use.  Requires folders Content/Theme/<name> and Views/Theme/<name> for each part of the theme.
         To get started on creating a theme copy the Default folders.-->
        <add key="Catalog.Theme" value="Denver"/>

        <!-- Set to true to enable breadcrumbs.  The theme must support breadcrumbs
        for this to work. -->
        <add key="Catalog.BreadcrumbsEnabled" value="true"/>
        
        <!-- The label to use for the base breadcrumb. -->
        <add key="Catalog.BreadcrumbsBaseLabel" value="Home"/>
        <add key="Catalog.BreadcrumbsHomeEnabled" value="false"/>
        
        <!-- The CKAN group that the catalog will be restricted to. -->
        <!-- Required, see http://colorado.ckan.net/group (use the short name in parentheses) -->
        <add key="Catalog.Group" value="arvada"/>

        <!-- If all of the packages in the group have a name prefix add it here so that the prefix is not 
         displayed on the filtered catalog. -->
        <!-- Optional.  Packages on colorado.ckan.net should be prefixed for each jurisdiction.  Ex.  "City of Arvada: " -->
        <add key="Catalog.PackageTitlePrefix" value="City of Arvada: "/> 
        
        <!-- The maximum length of a dataset title before truncating and adding an ellipsis. -->
        <add key="Catalog.DatasetTitleLength" value="35"/>

        <!-- To hide any tags from appearing in popular tags add them here.  Split multiple tags with a comma. -->
        <add key="Catalog.HiddenTags" value="featured, arvada, colorado"/>

        <!-- - - - - - - - - - -->
        <!-- Iframe settings   -->
        <!-- - - - - - - - - - -->
        <!-- Set to true to enable enhanced iframe support (catalog loaded into iframe).
        
             Requires that the iframe be on the same domain as the catalog.  If the 
             subdomain is different you can set the document.domain below 
             and in the parent page to provide full iframe support.
             See https://developer.mozilla.org/en/Same_origin_policy_for_JavaScript
             
             Provides:
               1) Dynamic resizing of the frame to fit the content
               2) Force page into parent iframe if accessed directly
               
               -->
        <add key="Iframe.Enabled" value="false"/>
        
        <!-- Sets the document domain.  Useful if the subdomain is different from the 
        parent page -->
        <add key="Iframe.DocumentDomain" value=""/>
        
        <!-- Set either the id of the frame (preferred) or the src value (if id is not possible).-->
        <add key="Iframe.Id" value=""/>
        <add key="Iframe.Src" value=""/>

        <!-- - - - - - - - - - - -->
        <!-- Suggestion settings -->
        <!-- - - - - - - - - - - -->

        <!-- Set to true to enable suggestions in the search box. -->
        <add key="Suggestions.Enabled" value="true"/>

        <!-- Set the delay time for queueing keystokes before 
        requesting suggestions.-->
        <add key="Suggestions.Delay" value="150"/>
        
        <!-- - - - - - - - - - -->
        <!-- Resource settings -->
        <!-- - - - - - - - - - -->
        
        <!-- The actions to take for each resource type.  The default action for a resource is "Download"
         but additional actions can be created if you want different actions available for each resource type. -->
        <add key="ResourceType.REST.Title" value="REST Data Service"/>
        <add key="ResourceType.REST.Actions" value="action=Details"/>

        <add key="ResourceType.APP.Title" value="Application"/>
        <add key="ResourceType.APP.Action" value="Open"/>
        
        <add key="ResourceType.KML.Title" value="Keyhole markup language (Google Earth)"/>
        <add key="ResourceType.KML.Actions" value="action=Download/Open with Google Earth|
                                                   action=Open with Google Maps;url=http://maps.google.com/maps?q={url}|
                                                   action=Open with Bing Maps;url=http://www.bing.com/maps/?mapurl={url}"/>

        <add key="ResourceType.PDF.Title" value="Adobe Portable Document Format"/>
        <add key="ResourceType.PDF.Actions" value="action=Open"/>

        <add key="ResourceType.SHP.Title" value="ESRI Shapefile"/>
        <add key="ResourceType.SHP.Actions" value="action=Download"/>

        <!-- - - - - - - - - -  -->
        <!-- Home page settings -->
        <!-- - - - - - - - - -  -->
        
        <!-- The page title to use for the home page of the catalog -->
        <add key="Home.Title" value="Open Data Catalog"/>

        <add key="Home.PopularTagsEnabled" value="true"/>
        <add key="Home.PopularTagsLimit" value="15"/>
        
        <add key="Home.FeaturedPackagesEnabled" value="true"/>
        <add key="Home.FeaturedPackagesTag" value="featured"/>
        <add key="Home.FeaturedPackagesLimit" value="3"/>
        
        <add key="Home.RecentlyUpdatedPackagesEnabled" value="true"/>

        <!-- - - - - - - - - - - - - - -  -->
        <!-- Search results page settings -->
        <!-- - - - - - - - - - - - - - -  -->
        
        <!-- The page title for the search page -->
        <add key="Search.Title" value="Open Data Catalog Search"/>
        
        <!-- The number of search results to show per page -->
        <add key="Search.ResultsPerPage" value="10"/>
        <add key="Search.ResultsMaxPagesToShowInPager" value="5"/>
        <add key="Search.ResultsShowRating" value="false"/>
        <add key="Search.ResultsShowTags" value="true"/>

        <!-- - - - - - - - - - - - -->
        <!-- Package page settings -->
        <!-- - - - - - - - - - - - -->

        <!-- The page title for the search page -->
        <add key="Package.Title" value="Open Data Catalog: {Package.Title}"/>

        <!-- Package revisions RSS feed -->
        <add key="Package.RSSFeedEnabled" value="true"/>
        <add key="Package.RSSFeedDays" value="14"/>
        
        <!-- Friendly labels for extra package fields -->
        <add key="Package.Extra.level_of_government" value="Level of Government"/>
        <add key="Package.Extra.agency" value="Agency"/>
        <add key="Package.Extra.update_frequency" value="Update Frequency"/>
        <add key="Package.Extra.temporal_coverage-from" value="Temporal Coverage (From)"/>
        <add key="Package.Extra.temporal_coverage-to" value="Temporal Coverage (To)"/>

        <!-- - - - - - - - - - - -->
        <!-- Tag cloud settings  -->
        <!-- - - - - - - - - - - -->
        <add key="TagCloud.ShowCount" value="false"/>
        <add key="TagCloud.MinScale" value="100"/>
        <add key="TagCloud.MaxScale" value="200"/>
        
        <!-- - - - - - - - - - - - - - - - -->
        <!-- User voice feedback settings  -->
        <!-- - - - - - - - - - - - - - - - -->

        <!-- Enable UserVoice suggestion 'tab'..
             Note: You must set up a UserVoice account for the site
             before using this feature.  The free package is
             all that is required for basic suggestion support.
             See http://www.uservoice.com -->
        <add key="UserVoice.Enabled" value="true"/>

        <!-- The widget key
             In the channels section of the UserVoice admin pages
             find the JavaScript widget code.  The value
             you want is widget.uservoice.com/XXXXXXX.js 
             (just the key represented by the XXXs)
        -->
        <add key="UserVoice.Key" value="NsfBtGFVZ4ivc26TxS73gQ"/>
        
        <!-- - - - - - - - - - - - - - -->
        <!-- Discussion forum settings -->
        <!-- - - - - - - - - - - - - - -->
        
        <!-- Enable comments forum on package pages.
             Note: You must set up a DISQUS account for the site
             before using this feature.  
             See http://www.disqus.com -->
        <add key="Disqus.PackageForumEnabled" value="true"/>
        
        <!-- The forum shortname -->
        <add key="Disqus.ForumShortName" value="ckantestforum"/>

        <!-- Allows Disqus commenting to be tested without running on the 
             actual URL specified for the forum.  
             This should only be used for development/testing. -->
        <add key="Disqus.DeveloperModeEnabled" value="true"/>

        <!-- - - - - - - - - - - - - - - - - - - - -->
        <!-- AddThis social media sharing settings -->
        <!-- - - - - - - - - - - - - - - - - - - - -->

        <!-- Enable AddThis social media buttons
             Note: You must set up an AddThis account for the site
             before using this feature.  
             See http://www.addthis.com -->
        <add key="AddThis.Enabled" value="false"/>

        <!-- The AddTHis profile id (from AddThis/Settings/Profiles/Profile Id) -->
        <add key="AddThis.ProfileId" value="ra-4e81083a6cd5be00"/>

        <!-- If you want to customize the AddThis widget
             that is used (custom buttons etc.), 
             copy the Shared/_AddThis.cshtml file into your 
             theme folder and set this setting to true. -->
        <add key="AddThis.CustomWidgetenabled" value="false"/>

        <!-- - - - - - - - - - - - - - -->
        <!-- Google Analytics Settings -->
        <!-- - - - - - - - - - - - - - -->

        <!-- Set to true to enable Google Analytics -->
        <add key="GoogleAnalytics.Enabled" value="true"/> <!-- Default: false -->

        <!-- The profile to track analytics for (ex. UA-XXXXXX-1) -->
        <add key="GoogleAnalytics.Profile" value="UA-25740499-1"/> <!-- Required if analytics enabled -->

        <!-- The domain name to use for analytics in the tracking code.
             See http://code.google.com/apis/analytics/docs/gaJS/gaJSApiDomainDirectory.html#_gat.GA_Tracker_._setDomainName -->
        <add key="GoogleAnalytics.DomainName" value="none"/> <!-- Default: empty -->

        <!-- Set to true to use the linker in the tracking code.
             See http://code.google.com/apis/analytics/docs/gaJS/gaJSApiDomainDirectory.html#_gat.GA_Tracker_._setAllowLinker -->
        <add key="GoogleAnalytics.AllowLinker" value="true"/> <!-- Default: false -->

        <!-- - - - - - - - - - - - - - - - - - - -->
        <!-- Search Engine Optimization Settings -->
        <!-- - - - - - - - - - - - - - - - - - - -->

        <!-- Meta tag description for the catalog home page -->
        <add key="SEO.HomeDescription" value="The Denver Open Data Catalog provides open access to data managed by the City and County of Denver."/>

        <!-- Meta tag keywords for the catalog home page -->
        <add key="SEO.HomeKeywords" value="denver,colorado,city and county of denver,city,county,data catalog,open data"/>
     
        <!-- Each package page includes the package tags as keywords in the keywords meta tag for search engine optimization.
             This setting is used to prepend common keywords that will be included in the keywords meta tag for every package.
             Keywords should be comma-delimited without spaces after each comma.-->
        <add key="SEO.CommonPackageKeywords" value="denver,colorado,city and county of denver,city,county,data catalog,open data"/>

        <!-- The maximum number of characters to use from the package description in the meta description header.-->
        <add key="SEO.PackageDescriptionLength" value="200"/>
        
        <!-- The base url to use for entries in the sitemap.  The application
             can usually figure this out on its own but you may need to set
             this if you are using a reverse proxy.  Load sitemap.xml
             through the browser to ensure that the URLs generated are correct. -->
        <add key="SEO.SiteMapBaseUrl" value=""/> <!-- Default: empty -->
        
        <!-- - - - - - - - - - - - - - -->
        <!-- CKAN API caching settings -->
        <!-- - - - - - - - - - - - - - -->

        <!-- The token required to view and manage the cache.  Allows an
        administrator to clear the cache by accessing a URL without having to log
        in to the server.  This is useful when package in the CKAN repository are changed
        and you want the catalog to reflect the changes immediately.  To
        disable remote cache administration leave this value blank. 
        
        Admin URLs:
          Cache management: http://<host>/admin/cache?token=<token>
        -->
        <add key="Cache.Admin.Token" value="DEBUGTOKEN"/>

        <!-- The popular tags and the recent revisions widgets require a retrieval of all packages in the CKAN group.  It is 
        recommended that this be cached for a long duration to avoid pulling all packages frequently from the repository.
        The CKAN API currently does not provide a way for retrieving popular tags by group or recent revisions by group. -->
        <add key="Cache.AllPackages.Duration" value="240"/> <!-- Minutes, 0 for no caching. -->
        <add key="Cache.AllPackages.BackgroundUpdate" value="true"/><!-- True if this cache should be updated in the background when it expires. -->

        <!-- The length of time to cache license details for all licenses in the repository. -->
        <add key="Cache.AllLicenses.Duration" value="1440"/> <!-- Minutes, 0 for no caching. -->
        <add key="Cache.AllLicenses.BackgroundUpdate" value="true"/> <!-- True if this cache should be updated in the background when it expires. -->
        
        <!-- The length of time to cache featured packages. -->
        <add key="Cache.FeaturedPackages.Duration" value="480"/> <!-- Minutes, 0 for no caching. -->

        <!-- The length of time to cache search results. -->
        <add key="Cache.SearchResults.Duration" value="5"/> <!-- Minutes, 0 for no caching. -->

        <!-- The length of time to cache package details. -->
        <add key="Cache.Package.Duration" value="5"/> <!-- Minutes, 0 for no caching. -->

        <!-- The length of time to cache the number of packages in the group -->
        <add key="Cache.PackageCount.Duration" value="10"/> <!-- Minutes, 0 for no caching. -->
        <add key="Cache.PackageCount.BackgroundUpdate" value="true"/> <!-- True if this cache should be updated in the background when it expires. -->

        <!-- - - - - - - - - - - - - -->
        <!-- Download Proxy settings -->
        <!-- - - - - - - - - - - - - -->
        
        <!-- EXPERIMENTAL -->
        <!-- The content proxy is an experimental approach
        for allowing downloads to be proxied through the web application,
        allowing download analytics to be captured and requiring only
        this application to be accessible to the public.  This feature has not been
        tested extensively so use at your own risk.
        -->
        
        <!-- A content proxy allows the resource URLs in the published catalog
        to be downloaded via this web application.  This is an optional 
        configuration (vs. publishing files to a web server directly)
        that allows all downloads to be tracked in web logs regardless of 
        where the user donwloads the data from.
        
        Multiple download location can be configured to allow the 
        catalog to access resources from multiple locations.
        
        Examples of how this works:
        
        Requests for /download/<example> will be proxied to [DownloadProxy.Location]/<example>.
        Requests for /download/location1/<example> will be proxied to [DownloadProxy.Location.location1]/<example>
        
        Important: If you are using multiple download proxy locations it recommended that you do not define
        a location without a root folder.  If the primary proxy happens to contain a folder with the same name 
        as one of the proxy locations that folder will not be accessible.
        
        If Google Analytics is enabled for this catalog, each download that occurs will be tracked
        as an event with the following values:
          Category: Download
          Action: Hostname of the referrer (the site from which the link was clicked)
          Label: The downloaded file (full path)
          Value: Number of kilobytes downloaded
        -->
        <add key="DownloadProxy.Enabled" value="true"/>

        <!-- The location of the download proxy route -->
        <add key="DownloadProxy.Route" value="download"/> <!-- Default: download-->
        
        <!-- The root location of the content.  For file
        locations ensure that the account running the web application
        has read access to the files.
            Examples:
                HTTP: http://host/content/
                Local directory: file://c:/content/
                UNC Path: \\server\share\content\
            Note: The trailing slash is required.
        -->
        <add key="DownloadProxy.Location" value="file://c:/temp/"/>
        <add key="DownloadProxy.Location.gis" value="file://c:/temp2/gis/"/>
        
        <!--================================-->
        <!-- End CKAN Data Catalog Settings -->
        <!--================================-->
        
    </appSettings>

    <!--===========================-->
    <!-- 2) Memory cache settings  -->
    <!--===========================-->

    <system.runtime.caching>
        <memoryCache>
            <namedCaches>
                <add name="default" cacheMemoryLimitMegabytes="0" physicalMemoryLimitPercentage="0"></add>
                <!-- cacheMemoryLimitMegabytes : An integer value that specifies the maximum allowable size, in megabytes, 
                        that an instance of a MemoryCache can grow to. The default value is 0, which means that the 
                        autosizing heuristics of the MemoryCache class are used by default. -->
                <!-- physicalMemoryLimitPercentage : An integer value between 0 and 100 that specifies the maximum percentage
                        of physically installed computer memory that can be consumed by the cache. The default value is 0, 
                        which means that the autosizing heuristics of the MemoryCache class are used by default. -->
            </namedCaches>
        </memoryCache>
    </system.runtime.caching>

    <!--===========================-->
    <!-- End Memory cache settings -->
    <!--===========================-->

    <!--=================-->
    <!-- 3) Log settings -->
    <!--=================-->
    <log4net>
        <root>
            <level value="ALL" />
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="TraceAppender" />
        </root>
        
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="Logs//app.log" />
            <appendToFile value="true" />
            <datePattern value="yyyyMMdd" />
            <rollingStyle value="Composite" />
            <maximumFileSize value="5MB" />
            <maxSizeRollBackups value="-1" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="DEBUG" />
                <levelMax value="FATAL" />
            </filter>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5p %-25d thr:%-5t %9rms %c{1},%M: %m%n" />
            </layout>
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
        </appender>

        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true"/>
                <levelMin value="DEBUG"/>
                <levelMax value="FATAL"/>
            </filter>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level %c{1},%M: %message%newline" />
            </layout>
        </appender>


    </log4net>
    <!--==================-->
    <!-- End Log settings -->
    <!--==================-->

    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>

        <customErrors mode="On"/>
        
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
