<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <!-- - - - - - - - - - -->
    <!-- Catalog settings  -->
    <!-- - - - - - - - - - -->
    <add key="Catalog.Theme" value="Denver" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Catalog.Group" value="arvada" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Catalog.PackageTitlePrefix" value="City of Arvada: " xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Catalog.HiddenTags" value="featured, colorado, arvada" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - - - -->
    <!-- User voice feedback settings  -->
    <!-- - - - - - - - - - - - - - - - -->
    <add key="UserVoice.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserVoice.Key" value="NsfBtGFVZ4ivc26TxS73gQ" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - -->
    <!-- Discussion forum settings -->
    <!-- - - - - - - - - - - - - - -->
    <add key="Disqus.PackageForumEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Disqus.ForumShortName" value="ckantestforum" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Disqus.DeveloperModeEnabled" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - - - - - - - -->
    <!-- AddThis social media sharing settings -->
    <!-- - - - - - - - - - - - - - - - - - - - -->
    <add key="AddThis.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AddThis.ProfileId" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AddThis.CustomWidgetenabled" value="ra-4e81083a6cd5be00" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - -->
    <!-- Google Analytics Settings -->
    <!-- - - - - - - - - - - - - - -->
    <add key="GoogleAnalytics.Enabled" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalytics.Profile" value="UA-25740499-1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalytics.DomainName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalytics.AllowLinker" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - - - - - - -->
    <!-- Search Engine Optimization Settings -->
    <!-- - - - - - - - - - - - - - - - - - - -->
    <add key="SEO.HomeDescription" value="The Denver Open Data Catalog provides open access to data managed by the City and County of Denver." xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SEO.HomeKeywords" value="denver,colorado,city and county of denver,city,county,data catalog,open data" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SEO.CommonPackageKeywords" value="denver,colorado,city and county of denver,city,county,data catalog,open data" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SEO.SiteMapBaseUrl" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <!-- - - - - - - - - - - - - - -->
    <!-- CKAN API caching settings -->
    <!-- - - - - - - - - - - - - - -->
    <add key="Cache.Admin.Token" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>