#ignore thumbnails created by windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
ClientBin
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
[Tt]est[Rr]esult*
*.csproj.user
Download/
Logs/
Build/Output/
/.vs/config/applicationhost.config
