@using CkanDotNet.Web.Models
@{
    Layout = "~/Views/Shared/_Page.cshtml";
} 
<body>
<div id="page">
   
    <!-- OpenColorado branding -->  
    <div id="header">
	    <h1 id="site-title">
		    <a href="http://www.opencolorado.org" title="OpenColorado Home">
			    <img border="0" src="http://opencolorado.org/wordpress/wp-content/themes/the-advent/css/style1/open-colorado-logo.png" alt="OpenColorado Logo" title="OpenColorado Logo" style="display: inline;" />
		    </a>
	    </h1>

	    <div id="site-description"></div>
    </div>


    <div id="main">
       
        @Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")  
                               
        @RenderBody()

    </div>

    <footer id="footer">Footer</footer>
</div>
</body>