@using CkanDotNet.Web.Models
@{
    Layout = "~/Views/Shared/Layout/_Page.cshtml";
} 
<body>
<div id="page">
   
    <!-- OpenColorado branding -->  
    <div id="opencolorado-header">
	    <h1 id="site-title">
		    <a href="http://www.opencolorado.org" title="OpenColorado Home">
			    <img border="0" src="http://opencolorado.org/wordpress/wp-content/themes/the-advent/css/style1/open-colorado-logo.png" alt="OpenColorado Logo" title="OpenColorado Logo" style="display: inline;" />
		    </a>
	    </h1>

	    <div id="site-description"></div>
    </div>   
                        
    <!--Application Content Here-->
    @RenderBody()
    <!--End Application Content Here-->

</div>
<div id="footer"></div>
</body>