@using CkanDotNet.Web.Models.Helpers
@{
    Layout = "~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_Body.cshtml";
}
@section ContentStart {
<section id="content">
}

@section BreadCrumbs {
    @Html.Partial("~/Views/Shared/_BreadCrumbs.cshtml")
}

@if (SettingsHelper.GetAddThisEnabled())
{
    @Html.Partial("_AddThis")                 
}     

@RenderBody()  

@section SideBar {
    @RenderSection("SideBar", false)
}

@section ContentEnd {
</section>
}