@using CkanDotNet.Web.Models
@{
    bool filterLabelDisplayed = false;
    BreadCrumbs breadCrumbs = null;

    if (ViewData.ContainsKey("BreadCrumbs"))
    {
        breadCrumbs = (BreadCrumbs)ViewData["BreadCrumbs"];
    }

}
@if (breadCrumbs != null)
{
    
    <div class="breadcrumbs">
        @for (int i = 0; i < breadCrumbs.Count; i++)
        {
            var breadCrumb = breadCrumbs[i];
    
            <span class="breadcrumb">
                @if (breadCrumb.Filter)
                {

                    if (!filterLabelDisplayed)
                    {
                    @::
                filterLabelDisplayed = true;
                    }
                  
            
                    <a href="@Url.Action(breadCrumb.ActionName, breadCrumb.RouteValues)"><span class="breadcrumb-filter">@breadCrumb.Label</span>
                    </a>
            
                }
                else if (breadCrumb.IsLink)
                {
                    if (i > 0)
                    { 
                    @: >
            }
                
                    @Html.ActionLink(breadCrumb.Label, breadCrumb.ActionName, breadCrumb.ControllerName)
                }
                else
                {
                    if (i > 0)
                    { 
                    @: >
            }
                    <span>@breadCrumb.Label</span>
                }
            </span>
        }
    </div>
}
