/*=============================================*/
/* Theme: Default
/*=============================================*/

body
{
    font-family:  Helvetica,Verdana,Arial,Sans;
    font-size: 10pt;
    background-color: #eeeeee;
}

a {
    color: #0074BD;
    text-decoration: none;
}

a:active, a:hover 
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 
{
    font-weight: bold;
    line-height: 120%;
    margin: 5px 0;
    position: relative;
}

h1
{
    font-size: 22pt;
    color: #444444;
}

h2
{
    font-size: 22pt;
    color: #444444;
}


/* Page layout */
#page 
{
    position: relative;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 5px 20px #888888;
    margin: 0 auto 50px;
    width: 940px;
    border: 1px solid #cccccc;
}

#header
{
    line-height: 60px;
    border-bottom:1px dashed #999999;
    color:#cccccc;
    text-align: center;
    font-size: 30px;
}

#main
{
    padding: 10px 10px 10px 10px;
    overflow:hidden;
	clear:both;
}

#body
{
   float: left;
   width: 620px; /* Width of body in pixels */
}

#sidebar
{
    float: right;
    width: 300px; /*Width of right column in pixels*/
}
 
#footer
{
    line-height: 60px;
    border-top:1px dashed #999999;
    color:#cccccc;
    text-align: center;
    font-size: 30px;
}