@using CkanDotNet.Web.Models.Helpers
<div class="container">
<h2 class="container-title">About This Catalog</h2>
<div class="container-content">
<p>
This catalog was created in partnership with <a href="http://www.opencolorado.org" class="external">Open Colorado</a>.
</p>

<p>
To search for open data provided
by other government organizations in Colorado please visit
the <a href="http://colorado.ckan.net" class="external">Open Colorado Data Catalog</a>.
</p>
</div>
</div>
