@using CkanDotNet.Web.Models
@using System.Configuration


@{
    Layout = "~/Views/Shared/Layout/_Page.cshtml";
}
<body>

<!--v Denvergov:2of3(body-top) v-->
<div id="Denvergov.page">
	<iframe id="Denvergov.headFrame" name="Denvergov.headFrame" src="@Url.Content(ConfigurationManager.AppSettings["Catalog.SkinLocation"] + "/dgskin1/DenvergovHead.htm")" 
        frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
	<div id="Denvergov.appBody">
<!--^ Denvergov:2of3(body-top) ^-->

<!--Application Content Here-->

<div class="catalog-header" title="Open Data Catalog - Making city government accessible through open access to data"></div>
    <div class="header-package-count">
    <span class="header-package-count-number">@Html.Action("PackageCount", "Widget")</span>
    <br />
    datasets
    </div>
<div class="header-spacer"></div>

@RenderBody()
<!--End Application Content Here-->

<!--v Denvergov:3of3(body-bottom) v-->
	</div>
	<iframe id="Denvergov.footFrame" name="Denvergov.footFrame" src="@Url.Content(ConfigurationManager.AppSettings["Catalog.SkinLocation"] + "/dgskin1/DenvergovFoot.htm")"
        frameborder="0" marginheight="0" marginwidth="0" scrolling="no"></iframe>
	</div>
<!--^ Denvergov:3of3(body-bottom) ^-->
</body>