<h1>Welcome to the Denver Open Data Catalog</h1>

<p>As part of an initiative to improve the accessibility, transparency, and 
accountability of city government, this catalog provides open access to data managed by the 
City and County of Denver.
</p>

<p>We invite you to actively participate in shaping the future of this data
catalog by suggesting additional datasets or building applications with the available data.</p>

<p><span class="header-package-count">@Html.Action("PackageCount", "Widget") registered datasets are available.</span></p>