@using CkanDotNet.Web.Models.Helpers
<h1>Welcome to the Open Data Catalog Demo</h1>

<p>This site provides a live demo of the 
<a href="https://github.com/opencolorado/.NET-Wrapper-for-CKAN-API">.NET front-end for CKAN</a> that
has been developed to allow jurisdictions in Colorado to host a data catalog based on 
<a href="http://www.opencolorado.org">OpenColorado.org</a>.</p>

<p>The catalog front-end is themeable and this demo site uses the <a href="http://www.denvergov.org">City and County of Denver</a> website 
theme while pointing to the <a href="http://colorado.ckan.net/group/arvada">Arvada</a> group in catalog.</p>
<!--
<p>As part of an initiative to improve the accessibility, transparency, and 
accountability of city government, this catalog provides open access to data managed by the 
City and County of Denver.
</p>-->

<!--
@if (SettingsHelper.GetUserVoiceEnabled()) {
    <p>We invite you to actively participate in shaping the future of this data catalog by 
    <a href="javascript:UserVoice.showPopupWidget();" title="Suggest additional datasets">suggesting additional datasets</a> 
    or building applications with the available data.</p>
}-->

<p><span class="header-package-count">@Html.Action("PackageCount", "Widget") registered datasets are available.</span></p>