<div class="container">
<h2 class="container-title">Open Data License</h2>
<div class="container-content">
<p>You are free to copy, distribute, transmit and adapt the data 
in this catalog under an open license.</p>

<p>For details, please 
review the <a href="@(Url.Action("Index", "Home") + "termsofuse")">terms of use</a>.</p>
</div>
</div>
