<div class="container">
<h2 class="container-title">Open Data License</h2>
<div class="container-content">
<p>You are free to download, use, modify and distribute the data 
in this catalog under an open <a href="/license">license</a>.</p>
</div>
</div>
