@using CkanDotNet.Web.Models.Helpers
@using CkanDotNet.Web.Models
@{
    ViewBag.Title = "Denver Open Data Catalog License";
    Layout = "~/Views/Shared/Layout/_Content.cshtml";
}

<div id="body">
        <div class="container">

        <h2 class="container-title">License</h2>

        <p>The City and County of Denver Open Data Catalog provides open data under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution</a> license (CC BY 3.0).

        The full <a href="http://creativecommons.org/licenses/by/3.0/legalcode">legal code</a> explains your rights and responsibilities.</p>

        <h3>Attribution</h3>

        <p>You are free to copy, distribute, transmit and adapt the data, as long as you credit 
        the “City and County of Denver Open Data Catalog”.</p>

        <p>
        Where possible, “City and County of Denver Open Data Catalog” should be hyperlinked 
        to <a href="http://data.denvergov.org">http://data.denvergov.org</a> and “CC BY 3.0” should be hyperlinked 
        to <a href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</a>.</p>
        
         
        <p>If you are using a medium where hyperlinks are not possible (e.g. print), please 
        direct consumers to data.denvergov.org and to www.creativecommons.org.</p>

        </div>

</div>

@section SideBar {
<div id="sidebar">
    @if (SettingsHelper.GetHomePopularTagsEnabled())
    {
        @Html.Action("PopularTags", "Widget")
    }
    @Html.Partial("~/Views/Theme/" + SettingsHelper.GetCatalogTheme() + "/_About.cshtml")
</div>
}



