/*=============================================*/
/* Core styles (override in theme as required)
/*=============================================*/

/* HTML5 support for IE versions less than 9 */
header,nav,article,footer,section,aside,figure,figcaption
{
    display:block;
}

/* Core page structure styles */
#content
{
    padding: 0px;
    overflow:hidden;
	clear:both;
	position: relative;
}

#ribbon
{
    margin-bottom: 7px;
}

#header
{
    margin: 5px 0px 0px 0px;
}

#body
{
   float: left;
   width: 620px; /* Width of body in pixels */
}


#sidebar
{
    float: right;
    width: 300px; /*Width of right column in pixels*/
}

/* Breadcrumbs */
.breadcrumbs 
{
    display: inline;
    position: relative;
    top: 0px;
    left: 0px;
}

.breadcrumb-filter
{   
    display: inline-block;
    margin: 0 0px 5px 0;
    padding: 1px 14px 1px 2px;
    background-image: url("Images/remove_small.png");
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
}

.breadcrumb-filter:hover
{
    background-image: url("Images/remove_small_hover.png");
}

/* Sharing buttons */
.share-buttons
{
    position: absolute;
    top: 5px;
    right: 0px;
}

/* Containers*/
.container
{
   padding: 0px;
   margin: 5px;
   margin-bottom: 10px;
   position: relative;
}

.container-title 
{
    position: relative;
    margin: 0px 0px;
    padding: 8px 10px;
}

.container-content
{
    padding: 5px;
    margin: 3px 2px;
    position: relative;
}

/* Format styles (format 'tags') */
.formats-label
{
}

.format
{   
    margin: 0px 0px 1px 2px;
    padding: 3px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

/* Rating styles */
.rating
{
    display: inline-block;
}

.rating-response
{
    padding: 0px 0px 0px 4px;
}

/* Button styles */
.button-open-data
{
    padding: 2px 2px;
}

/* Search box styles */
.search 
{
    margin: 5px;
    position:relative;
    padding: 8px 0px;
}

.search-input 
{
    width: 400px;
    padding-left: 3px;
}

.search-submit 
{
    cursor: pointer;
}

/* Search results styles */
.results
{
    margin: 0px !important;
    padding: 0px !important;
}

.results-none
{
    padding: 10px 0px 10px 0px;
}

.result 
{
    cursor: pointer;
    position: relative;
    padding: 9px 4px 9px 4px;
}

.result-title
{
    display: block;
    padding: 0px 0px 2px 0px;
}

.result-date
{
    display: block;
    padding: 1px 0px 3px 0px;

}

.result .formats
{ 
    position: absolute;
    top: 6px;
    right:4px;
}

.result-rating
{
    padding: 0 0 3px;
}

.result-tags
{
    margin: 6px 0px 0px 0px;
}

.results-header
{
    position: relative;
    padding: 5px 0px 10px 0px;
    color: #808080;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
}

.results-limit
{
    position: absolute;
    right: 0px;
    top: 0px;
    font-weight: normal;
}

.results-mode
{
    position: absolute;
    top: 0px;
    right: 0px;
}

.results-mode .mode
{
    font-size: 12px;
    padding: 4px;
    margin: 0px 0px 0px 0px;
    font-weight: normal;
}


.results-mode .mode.active
{
    padding: 4px;
    margin: 0px 0px 4px 0px;
    color: #333333;
    font-weight: bold;
}

#results-table
{
    margin: 5px 0px 15px 0px;
}

.results-table td
{
    font-size: 12px;
}

.results-table .package-link
{
    font-size: 13px;
}

/* Pager styles */
.pager-container
{
    position: relative;
    height: 24px;
}

.pager
{
    position:absolute;
    display: inline-block;
    padding: 0px !important;
    right: 0px;
}

.pager a
 {
    padding: 2px 5px;
    cursor: pointer;
 }

.pager span a
{
    margin: 0px 4px 0px 0px;
}

.pager span a.active
{
    color: #000000;
    text-decoration: none;
    cursor:default;
}

/* Pager in a header */
.container-title .pager
{
    margin: 0px !important;
    padding: 0px !important;
    position: absolute;
    right: 6px;
    top: 8px;
    min-height: 24px;
}

/* Package styles */
.package-subtitle
{
    position:relative;
    padding-top: 2px;
    padding-bottom: 6px;
}

.package-subscribe
{
    position:absolute;
    bottom: 6px;
    right: 2px;
    width: 20px;
    height: 20px;
    background-image: url("Images/rss.png");
    display:block;
}

.package-action
{
    padding: 4px;
    margin: 0px 0px 4px 0px;
}

.package-action:active, .package-action:hover, .package-action:visited  
{
    padding: 4px;
    margin: 0px 0px 4px 0px;
}

.container table
{
    border: 0px;
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
}

.container th
{
    text-align: left;
    padding: 5px;
}

.container td 
{
    padding: 5px 7px;
    vertical-align: top;
}

/* Tag counts */
.tag
{
    font-size: 12px;
    display: inline-block;
    margin: 0 0px 5px 0;
    margin: 1px;
    padding: 0px 3px 2px 0px;
    line-height: normal;
    zoom: 1;
    *display: inline;
}

/* Featured packages */
.featured-container
{
    margin: 0px;
    padding: 0px;
}

.featured-package
{
    position:relative;
    display: inline-block;
    vertical-align: top;   
    width: 175px;
    height: 130px;
    margin: 7px 0px 7px 7px;
    padding: 7px;
}

.featured-package-notes
{
    margin: 3px 0px 0px 0px;
    padding: 0px;
    font-size: 12px;
}

.featured-package .formats
{ 
    position: absolute;
    bottom: 7px;
    left:1px;
}

/* AddThis styles */
.share-buttons 
{
    width: 225px;
}

/* Related items thumbnail styles */
/* Application list (thumbnail list) styles */
.application-list 
{
	height: 100%;
    text-align: center;
}

.application
{
	margin-bottom: 20px;
}

.applicationCount
{
    padding: 0px;
}

.application-thumbnail, .application-thumbnail:link, .application-thumbnail:active, .application-thumbnail:hover, .application-thumbnail:visited {
	max-height: 220px;
	
	display: inline-block;
	border: 1px solid #bbb;
	
	background-color:#fff;
	
	-moz-box-shadow: 0px 0px 6px #ccc;
	-webkit-box-shadow: 0px 0px 6px #ccc;
	box-shadow: 0px 0px 6px #ccc;    
	position: relative;
	cursor: pointer;
	text-decoration: none;

    overflow:hidden;

    text-align: left;
}

.application-thumbnail-meta
{
	font-size: 12px;
	overflow: hidden;
	
	padding: 5px 5px 5px 5px;
	color: #333333;
	position: absolute;
	bottom: 0px;
	border-top:1px solid #ccc;
	z-index: 1;
	background: #ffffff;
}

.application-thumbnail-name
{
	font-weight: bold;
}


.application-thumbnail-description
{
	font-size: 11px;
	width: 100%;
	height: 0px;
	overflow: hidden;
}

.application-thumbnail-description > div
{
	position:relative;
}

.application-thumbnail-image
{
    max-width: 100%;
	background-position:center;
}