@using CkanDotNet.Api.Model
@model Dictionary<string, int>
 
<section class="container">
<h2 class="container-title">Popular Tags</h2>
<div class="container-content">
    @foreach (var result in Model)
    {
        <div class="tag">
        @Html.ActionLink(@result.Key + " (" +  @result.Value + ")", "Index", "Search", new { tag = @result.Key }, null)
        </div>
    }

</div>
</section>
