@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@model PackageSearchResultsModel

@using System.Configuration
@{
    var theme = ConfigurationManager.AppSettings["Theme"];
} 

<section class="container">
    <h2 class="container-title">Results 
    @if (Model.SearchResults.Count > 0) { 
       @("(" + Model.SearchResults.Count + ")") @Html.Partial("_Pager")      
    }
   </h2>
    
    @if (Model.SearchResults.Count > 0)
    {
        @Html.Partial("~/Views/Shared/Search/_SearchResultsList.cshtml")
    }
    else
    {
        <div class="noResults">We weren't able to find what you were looking for..  
        Try a new search term or <a href="#">suggest</a> a new dataset..</div>   
    }


</section>

<div class="pagerContainer">
@Html.Partial("_Pager")
</div>