@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@using CkanDotNet.Web.Models.Helpers
@model PackageSearchResultsModel

@{

    // Start with the current route values
    var routeValues = RouteHelper.RouteFromParameters(Html.ViewContext);

    // Remove the page number since we want to start from the beginning if we filter
    RouteHelper.UpdateRoute(routeValues, "page", null);

    List<Tag> tags = TagHelper.GetTagCounts(Model.SearchResults.Results);
   
}

@if (Model.SearchResults.Count > 0)
{
<div class="container">
    <h2 class="container-title">Filter By Tag</h2>
    <div class="container-content">
        @foreach (var tag in tags)
        {
            string scale = tag.Scale + "%";
            <div class="tag">
            
        
            <a href="@Url.Action("Index", "Search", RouteHelper.UpdateRoute(routeValues, "tag", tag.Label))" 
               data-tag="@tag.Label" 
               style="font-size: @scale;">@tag.Label 
             @if (SettingsHelper.GetTagCloudShowCount()) {
                <text>(@tag.Count)</text>
            }</a>
            </div>

        }
    </div>
</div>
}

