@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@model PackageSearchResultsModel

@{
    string query = String.Empty;
    if (Model != null) {
        query = Model.SearchParameters.Query;
    }
}
<form id="search" action="/search" method="get">
<div class="search">
<input name="q" type="text" tabindex="1" class="search-input" value="@query" />
<input type="submit" class="search-submit" value="Search" />
@if (!String.IsNullOrEmpty(query))
{
    @Html.ActionLink("Clear", "Index", "Search");
}
</div>

</form>

<script language="javascript">
    $('.search-input').watermark('Search...');
</script>