@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@using CkanDotNet.Web.Models.Helpers
@model PackageSearchResultsModel

@{
    string query = String.Empty;
    if (Model != null) {
        query = Model.SearchParameters.Query;
    }
}

@using (Html.BeginForm(actionName: "Index", controllerName: "Search", routeValues: null,
    method: FormMethod.Get))
{ 
<div class="search">
<input name="q" type="text" tabindex="1" class="search-input" value="@query" />
<input type="submit" class="search-submit" value="Search" />
@if (!String.IsNullOrEmpty(query))
{
    @Html.ActionLink("Clear", "Index", "Search");
}
</div>
}

<script language="javascript">
    $('.search-input').watermark('Search...');
</script>

@if (SettingsHelper.GetGoogleAnalyticsEnabled()) 
{
<script language="javascript">
    $('.search-submit').click(function () {
        var value = $('.search-input').val();

        // Track the search event in analytics
        _gaq.push([
            '_trackEvent',
            'Search',
            'Query',
            value]);

    });
</script>
}