@using CkanDotNet.Api.Model
@using CkanDotNet.Web.Models
@model Package

@{
    var license = CkanHelper.GetLicenseById(Model.LicenseId);
}
<section class="container">
    <h2 class="container-title">License</h2>
    <div class="container-content">

    @if (license != null) {
        <a href="@license.Url" class="license-title">@license.Title</a>

        if (license.IsOkdCompliant)
        {
            <!-- Open Data Link -->
            <a href="http://opendefinition.org/" class="external">
              <img class="button-open-data tooltip"
              alt="This material is Open Data" border="0"
              src="http://m.okfn.org/images/ok_buttons/od_80x15_blue.png"
              title="This material is Open Data"/>
            </a>
            <!-- /Open Data Link -->
        }
    }
    else
    {
        <span>License not specified.</span>
    }
    </div>

</section>

