@using CkanDotNet.Api.Model
@model Package

<div class="container">
    <h2 class="container-title">Rate this Package</h2>
    <div class="container-content">
       @Html.Partial("~/Views/Shared/_Rating.cshtml", Model, new ViewDataDictionary { { "editable", true } })
    </div>
</div>
