@using CkanDotNet.Api.Model
@model Package

<section class="container">
    <h2 class="container-title">Tags</h2>
    <div class="container-content">
        @foreach (var tag in Model.Tags)
        {
            <div class="tag">
            @Html.ActionLink(tag, "Index", "Search", new { tag = tag }, null)
            </div>
        }
    </div>
</section>



