@using CkanDotNet.Api.Model
@model Package

<div class="container">
    <h2 class="container-title">Tags</h2>
    <div class="container-content">
        @foreach (var tag in Model.Tags)
        {
            <div class="tag">
                <a href="@Url.Action("Index", "Search", new { tag = tag })" data-tag="@tag">@tag</a>
            </div>
        }
    </div>
</div>



